*{
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 20px;
}
.box {
    background-color: white;
}
.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #000000;
    color: rgb(68, 68, 68);
    padding: 2px;
    color: white;
    margin: 10px auto;
    border-radius: 10px;

}
ul{
    background: white;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}
li{
    font-size: 1.5rem;
    padding: 10px;
}
.newItemDiv {
    
  
    height: 50px;
    width: 100%;
    display: inline-block;
 
}

.red {
    color: brown;
}
.btn {
    width: auto;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    
}
#newItemFeild {
    width: 200px;
    height: 30px;
    margin-left: 20px;
}

.listDiv {
  
    width: 100%;

}
.listHolder {

}

.count{
    height: 50px;
    width: 100%;
   
}
.btns{
    height: 50px;
    width: 100%;

    display: inline-block;
}
.myClass{
    
    word-spacing: 20px;
    text-decoration: rgb(156, 80, 80) solid line-through;
    text-decoration-thickness: 3px;
    }
    
    .hideBtn{
        visibility:visible;
    }
    .show {
          visibility:hidden;
    }