*{
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 1rem;
}
.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #0000009c;
    color: rgb(68, 68, 68);
    padding: 20px;
    color: white;

}
ul{
    display: inline-block;
}
li{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}
span{
    font-size: 1.5rem;
    color: rgb(226, 189, 189);
}
.newItemDiv {
    
  
    height: 50px;
    width: 100%;
    display: inline-block;
 
}


.btn {
    width: auto;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    
}
#newItemFeild {
    width: 200px;
    height: 30px;
    margin-left: 20px;
}

.listDiv {
  
    width: 100%;

}
.listHolder {

}

.count{
    height: 50px;
    width: 100%;
   
}
.btns{
    height: 50px;
    width: 100%;

    display: inline-block;
}
.myClass{
    
    word-spacing: 20px;
    text-decoration: rgb(156, 80, 80) solid line-through;
    text-decoration-thickness: 3px;
    }