* {
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 20px;
}

.container {
    max-width: 30em;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: #000000;
  color: rgb(68, 68, 68);
  padding: 2px;
  color: white;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  
}
ul {
    /* display: inline-block; */
  background: white;
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
}
li {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}
.newItemDiv {
  height: 50px;
  width: 100%;
  display: inline-block;
}

.red {
  color: brown;
}
.btn {
    color: black;
  /* width: auto;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 2px; */
}
#newItemFeild {
  width: 50%;
  /* height: 30px; */
  margin-left: 20px;
}

.listDiv {
  width: 100%;
}

.count {
  height: 50px;
  width: 100%;
}
.btns {
  height: 50px;
  width: 100%;
  display: inline-block;
  margin-left: 1em;
}
.myClass {
  color: #CCC;
  text-decoration: line-through;

}
.a {
  visibility: hidden;
  cursor: pointer;
  margin-left: 1em;
  font-size: 0.5em;
  text-transform: uppercase;
  color: navy;

}
