*{
    box-sizing: border-box;
    margin: 0 auto;
}
.container {
    width: 60%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color: #0000009c;
    color: rgb(68, 68, 68);

}
.newItemDiv {
    
    background-color: #fcf9cd;
    height: 20%;
    width: 100%;
 
}
.btn{
    width: auto;
    height: 30px;
    padding: 5px;
}
#newItemFeild {
    width: 200px;
    height: 30px;
    margin-left: 20px;
}
.addBtn{
}
.listDiv {
    background-color: #cdfcfa;
    height: 40%;
    width: 100%;

}
.listHolder {

}

.count{
    height: 20%;
    width: 100%;
    background-color: #ddcdfc;
}
.btns{
    height: 20%;
    width: 100%;
    background-color: #cdfcd3;
}